/* webdesign.css
 * Copyright (C) 2004 Steven J Lilley
 */

/* Basic */

body {
	margin: 0;
}

p, h1, h2, h3 {
	font-family: Helvetica, sans-serif;
}

h1 { 
	color: white; background-color: #36c;
	margin: 0;
	padding: 0 1ex 0 1ex;
	border-width: 0 0 2px 0;
	border-color: black;
	border-style: dotted;
	text-align: center;
	font-size: xx-large;
	font-weight: bold;
}

h2, h3 {
	margin: 1ex 0 0.5ex 0.5ex;
}

h2 {
	font-size: x-large;
	font-weight: bold;
	color: #039;
	background-color: inherit;
}

p {
	margin: 1em 2em 1em 1em;
	font-size: large;
}

table {
	margin: 1ex 2em 1ex 2em;
}

pre, cite {
	margin: 1ex 4em 1ex 3em;
}

p.bg {
	margin: 0;
	padding: 0 4px 2px 0;
	font-style: italic;
	text-align: right;
	border-width: 2px;
	border-color: #36c;
	border-style: dotted;
}

.supersize {
	font-size: 800%;
}

/* Divisions */

div.bg { 
	position: fixed;
	bottom: 0;
	right: 0;
	color: #69c;
	background-color: inherit;
	padding: 0;
	margin: 0;
}

div.bgimage {
	position: fixed;
	bottom: 0;
	left: 0;
	background-image: url(images/bg_daffodil.png);
    background-repeat: no-repeat;
}

/* Lists */

ul, ol, dl {
	margin: 1ex 4em 1ex 1em;
}

li {
	margin: 0 4em 0 1ex;
}


/* Tables */

td, th { padding: 1ex; }
th { 
	text-align: left;
	border-width: 0 0 1px 0;
	border-color: black;
	border-style: solid;
}

caption { 
	font-style: italic;
	color: darkgrey; background-color: inherit;
	text-align: left;
	vertical-align: bottom;
}

/* Anchors */

a#noshow {
	color: inherit; 
	background-color: inherit;
	text-decoration: none;
}

/* Program Code */

code { color: green; background-color: inherit; }
kbd { color: #039; background-color: inherit; }
samp, var { color: #063; background-color: inherit; }

