/* external style sheet 7302.css */

body {
	color: #000; background-color: #fff;
    font-family: Helvetica, Tahoma, sans-serif;
    font-size: medium;
    margin: 0;
}

div {
	margin: 0;
	padding: 0;
}

div.images {
	margin: 12px;
}

p, h1, h2, h3, h4, h5, h6, ol, ul, dl {
    font-family: Helvetica, Tahoma, sans-serif;
    }

p, h3, h4, table, ol, dl { 
    margin: 0.5ex 8px 0.6ex 12px;
}


h1 {
	background-color: #669;
	color: #fff;
	padding: 8px;
	margin: 0 0 1ex 0;
}

p.footer {
	color: #333; background-color: #ccc;
    font-size: x-small;
    text-align: right;
    margin: 2px 0 0 0;
    padding: 2px;
    clear: both;
}

.center { text-align: center }

div.menu { 
	z-index: 1;
	position: fixed;
	top: 140px;
	left: 4px;
//	border: 1px dashed #cc9;
}

p.menu {
	font-size: small;
	margin: 0;
	padding: 0;
}

p.submenu {
	font-size: x-small;
	margin: 1ex 0 0 0;
	padding: 0;
}

a.menu { 
	text-decoration: none;
	display: block;
}
a.menu:link { color: #99c; background-color: transparent }
a.menu:visited{ color: #c9c; background-color: transparent }
a.menu:hover { color: #000; background-color: #cc9 }

a.fragid { color: inherit; background-color: transparent }
a.fragid:hover { color: inherit; background-color: transparent }

p.buttons {
	margin-top: 2px;
	text-align: right;
}

a:link    { color: #069; background-color: transparent }
a:visited { color: #609; background-color: transparent }
a:hover   { color: #000; background-color: #cc9}

img {
	border-width: 0;
}

p.withimage {
	margin-top: 1em;
	clear: both;
}

/* end of file */