/* external style sheet channel-e.css */

body {
	color: #000; background-color: #fff;
    background-image: url(images/channel-e_logo.png);
    background-repeat: no-repeat;
    background-position: top right;
    font-family: Helvetica, Tahoma, sans-serif;
    font-size: medium;
    margin: 4px 54px 0 4px;
}

div {
	margin: 0;
	padding: 0;
}

div.half {
	width: 49%;
	float: left;
}

div.agreement { color: #000; background-color: #fcc;
                border: 1px solid #333;
                padding: 1ex }

div.blockquote { padding: 1ex 6% 1ex 6% }

div.nav { width: 20%; 
          border: 2px solid #666 }

div.old_content {
	width: 70%;
	float: left;
}

div.old_menu {
	width: 30%;
	float: left;
}

div.guide {
	width: 80%;
	clear: both;
}

div.contents {
	width: 40%;
	float: left;
}

p, h1, h2, h3, h4, h5, h6, ol, ul, dl {
    font-family: Helvetica, Tahoma, sans-serif;
    }

p, ol, ul, dl {
	font-size: small;
}

p, h3, h4, table, ol, dl { 
    margin: 0.5ex 8px 0.6ex 12px;
}

ul.contents {
	margin: 0 8px 0 8px;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 2ex 0 2ex;
}

ul {
	list-style-type: none;
	margin: 0.5ex 4px 2ex 4px;
}

p.site_id {
	color: #000; background-color: #996;
    font-size: large;
    font-weight: bold;
    border: 1px solid #000;
    padding: 0.5ex;
    margin: 0;
}

a.noshow:link {color: inherit; background-color: inherit;}	
a.noshow:visited {color: inherit; background-color: inherit;}	
	
p.footer {
	color: #333; background-color: #ccc;
    font-size: x-small;
    text-align: right;
    margin: 2px 0 0 0;
    padding: 2px;
    clear: both;
}

p.guidenav {
/*	border: 1px dotted #999;
	padding: 1px; */
	text-align: center;
	clear: both;
}

p.indent { text-indent: -10px }

.center { text-align: center }

div.menu { 
	z-index: 1;
	position: fixed;
	top: 140px;
	left: 4px;
	border: 1px dashed #cc9;
}

p.menu {
	font-size: small;
	margin: 0;
	padding: 0;
}

p.submenu {
	font-size: x-small;
	margin: 1ex 0 0 0;
	padding: 0;
}

a.menu { 
	text-decoration: none;
	display: block;
}
a.menu:link { color: #99c; background-color: transparent }
a.menu:visited{ color: #c9c; background-color: transparent }
a.menu:hover { color: #000; background-color: #cc9 }

a.fragid { color: inherit; background-color: transparent }
a.fragid:hover { color: inherit; background-color: transparent }

p.buttons {
	margin-top: 2px;
	text-align: right;
}

.invis { visibility: hidden }

a:link    { color: #069; background-color: transparent }
a:visited { color: #609; background-color: transparent }
a:hover   { color: #000; background-color: #cc9}

.tagline { color: #333; background-color: transparent;
         font-size: small;
         font-weight: normal;
         padding-left: 1em;
}

h1 { 
	color: #000; background-color: #cc9;
    font-family: Helvetica, Tahoma, sans-serif;
    font-size: medium;
    font-weight: bold;
    padding: 1px 4px 1px 4px;
    border: 1px solid #993; 
    margin: 4px 8px 4px 8px;
}
 
.likeh2 { color: #000; background-color: #ccc;
          font-family: Helvetica, Tahoma, sans-serif;
          font-size: small;
          font-weight: bold;
          border: 1px solid #993;
          display: block;
          margin-top: 4px;
          margin-bottom: 1px }
   
h2 { 
	color: #000; background-color: #fff;
    font-family: Helvetica, Tahoma, sans-serif;
    font-size: small;
    font-weight: bold;
    border: 1px solid #ccc;
    margin: 2px 8px 0 8px;
    padding: 0px 2px 1px 2px;
}

.likeh3 { border: 1px solid #999;
          font-family: Helvetica, Tahoma, sans-serif;
          font-size: small;
          display: block;
          margin-top: 1px;
          margin-bottom: 1px }

h3 { 
	color: #996; background-color: #fff;
	font-size: small;
    margin: 2px 8px 0 8px;
}
     
.likeh4 { color: #006; background-color: #eee;
          font-family: Helvetica, Tahoma, sans-serif;
          border-width: 1px 0px 0px 1px;
          border-style: dotted;
          font-size: small;
          font-weight: bold;
          display: block;
          padding-left: 2px;
          margin-top: 1px;
          margin-bottom: 1px }


h4 { font-family: Helvetica, Tahoma, sans-serif;
     font-size: small;
     font-weight: bold;
     margin: 2px 8px 0px 12px;
}

.likeh5 { font-family: Helvetica, Tahoma, sans-serif;
          font-size: small;
          font-weight: normal;
          display: block;
          margin-top: 1px;
          margin-bottom: 1px;
          margin-left: 1em }


h5 { color: #000000; background-color: #ffcc00;
     font-family: Helvetica, Tahoma, sans-serif;
     font-size: small;
     font-weight: bold;
     font-style: italic;
     margin-bottom: 0ex;
     padding-left: 1em }

.likeh6 { font-family: Helvetica, Tahoma, sans-serif;
          font-size: small;
          font-weight: normal;
          font-style: italic;
          display: block;
          margin-top: 1px;
          margin-bottom: 1px;
          margin-left: 2em }

pre { 
	font-family: Courier, monospace;
	font-size: small;
    margin: 2ex;
}

code { color: #060; background-color: #FFF;
       font-family: monospace }

span.button { color: #000; background-color: #eee;
          border: 1px solid #999;
          padding: 0px 1px 0px 1px; 
          display: inline }
          
td { font-size: small }

th { text-align: left }


ol { font-family: Helvetica, Tahoma, sans-serif;
     margin: 1ex 4ex 0ex 4ex }

form { font-family: Helvetica, Tahoma, sans-serif;
       font-size: small }

form.greybox { color: #000; background-color: #DDD;
               border: 1px solid #333;
               padding: 1ex }

.ra { text-align: right }

.notes {
	color: #666; background-color: transparent;
}
       
tt, kbd { color: #060; background-color: transparent;
     font-family: Courier, monospace }


img {
	border-width: 0;
}

p.withimage {
	margin-top: 1em;
	clear: both;
}

img.inpara {
	margin:0 12px 12px 0;
	float:left;
	vertical-align:top;
	clear:both;
}

strong {
	color: #c03; background-color: inherit;
}
/* XML styles */

page {
	font-family: Helvetica, sans-serif;
	display: block;
}

/* end of file */